@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dark{
  background: #222831;
  color: aliceblue !important ;
  transition: all 0.3s ease-in-out;
}

.light{
  background: #FBF9F1;
  color: #000  !important;
  transition: all 0.3s ease-in-out;

}


.dark a{
  color: #fff;
}

.light a{
  color: #000;
}

.dark button{
  background-color: transparent;
  color: #fff;
  border: none;
  padding-top: 6px;
}

button{
  padding-top: 6px;
  background-color: transparent;
  border: none;
}